# Ignore node_modules inside next-app
next-app/node_modules

# Ignore Next.js build output
next-app/.next
next-app/out

# Ignore env files
next-app/.env
next-app/.env.*.local

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
